In [85]:
import geopandas as gpd

In [87]:
warsaw_tiles = gpd.read_file('../outputs/warsaw_coverage.geojson')
warsaw_tiles.crs = "EPSG:4326"

In [89]:
orange_gdf = gpd.read_file('../outputs/operators_5g_coverage.geojson')
orange_gdf.crs = "EPSG:4326"

In [93]:
# index_right column creates conflict
warsaw_tiles = warsaw_tiles.drop(columns=['index_right'])

In [109]:
operators_covered_tiles = gpd.sjoin(warsaw_tiles, orange_gdf, how="inner", predicate='intersects')

In [115]:
display(operators_covered_tiles.head())

,quadkey,tile,tile_x,tile_y,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,tests,...,unit,lon,lat,range,samples,changeable,created,updated,average_signal,operator
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,0,20.8353,52.1880,26746,50,1,1458608250,1729207216,0,Play
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,0,20.8628,52.1927,28640,32,1,1428866619,1737631406,0,Play
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,0,20.9843,52.2629,25133,44,1,1522409175,1721136259,0,Plus
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,0,20.9363,52.2857,7918,2,1,1732645248,1743565622,0,T-Mobile
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,-1,20.9351,52.2873,8163,14,1,1676614408,1743577568,0,T-Mobile

In [ ]:
operators_covered_tiles.to_file('../outputs/operators_5g_coverage_warsaw.geojson', driver='GeoJSON')

In [119]:
orange_5g_coverage_warsaw = operators_covered_tiles[operators_covered_tiles['operator'] == 'Orange']

In [121]:
display(orange_5g_coverage_warsaw.head())

,quadkey,tile,tile_x,tile_y,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,tests,...,unit,lon,lat,range,samples,changeable,created,updated,average_signal,operator
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,214,20.9111,52.3197,5279,41,1,1458906107,1730146638,0,Orange
0,1202131011213322,"POLYGON((20.89599609375 52.3252683145708, 20.9...",20.8987,52.3236,100529,28132,23,1461.0,937.0,6,...,453,20.9066,52.3271,981,34,1,1458930518,1730146638,0,Orange
1,1202131011213323,"POLYGON((20.9014892578125 52.3252683145708, 20...",20.9042,52.3236,17552,1380,21,2345.0,2812.0,1,...,214,20.9111,52.3197,5279,41,1,1458906107,1730146638,0,Orange
1,1202131011213323,"POLYGON((20.9014892578125 52.3252683145708, 20...",20.9042,52.3236,17552,1380,21,2345.0,2812.0,1,...,453,20.9066,52.3271,981,34,1,1458930518,1730146638,0,Orange
2,1202131011213332,"POLYGON((20.906982421875 52.3252683145708, 20....",20.9097,52.3236,156683,36245,20,454.0,406.0,2,...,214,20.9111,52.3197,5279,41,1,1458906107,1730146638,0,Orange

In [123]:
orange_5g_coverage_warsaw.to_file('../outputs/orange_5g_coverage_warsaw.geojson', driver='GeoJSON')

In [129]:
%store warsaw_tiles

Stored 'warsaw_tiles' (GeoDataFrame)